<!-- views/calculator.ejs -->

<div class="container mt-5">
    <form action="/calculate" method="post" class="row g-3">
      <div class="col-md-3">
        <label for="operand1" class="form-label">Operand 1</label>
        <input type="text" name="operand1" id="operand1" required class="form-control" />
      </div>
      <div class="col-md-2">
        <label for="operation" class="form-label">Operation</label>
        <select class="form-select" name="operation" aria-label="Default select example">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="/">/</option>
          <option value="*">*</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="operand2" class="form-label">Operand 2</label>
        <input type="text" name="operand2" id="operand2" required class="form-control" />
      </div>
      <div class="col-md-1 align-self-end">
        <button type="submit" class="btn btn-success">Calculate</button>
      </div>
    </form>
  
    <div class="my_table mt-4">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Operand 1</th>
            <th scope="col">Operation</th>
            <th scope="col">Operand 2</th>
            <th scope="col">Result</th>
          </tr>
        </thead>
        <tbody>
          <% if (results && results.length > 0) { %> <% results.forEach((result, index) => { %>
          <tr>
            <td><%= result.operand1 %></td>
            <td><%= result.operation %></td>
            <td><%= result.operand2 %></td>
            <td><%= result.result %></td>
          </tr>
          <% }); %> <% } else { %>
          <tr>
            <td colspan="4" class="text-center"><h3>No previous data</h3></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  